.App {
    font-family: Arial, sans-serif;
  }
  
  .featured-products {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .products {
    display: flex;
    justify-content: center;
  }
  
  .products .product {
    margin: 20px;
  }
  